In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [4]:
# Carregar o conjunto de dados

In [2]:
df = sns.load_dataset("healthexp")

In [11]:
df .head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [5]:
# Obter informações sobre os tipos de dados e valores únicos de cada coluna

In [6]:
data_dict = {}

In [10]:
for column in df.columns:
    # Obter o tipo de dados da coluna
    tipo_dados = df[column].dtype
    
    # Obter os valores únicos da coluna
    valores_unicos = df[column].unique().tolist()
    
    # Adicionar informações ao dicionário
    data_dict[column] = {
        "Tipo de dados": tipo_dados,
        "Valores únicos": valores_unicos
    }

# Imprimir o dicionário formatado
for coluna, info in data_dict.items():
    print(f"Coluna: {coluna}")
    print(f"  Tipo de dados: {info['Tipo de dados']}")
    print(f"  Valores únicos: {info['Valores únicos']}\n")

Coluna: Year
  Tipo de dados: int64
  Valores únicos: [1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

Coluna: Country
  Tipo de dados: object
  Valores únicos: ['Germany', 'France', 'Great Britain', 'Japan', 'USA', 'Canada']

Coluna: Spending_USD
  Tipo de dados: float64
  Valores únicos: [252.311, 192.143, 123.993, 150.437, 326.961, 313.391, 298.251, 134.172, 163.854, 357.988, 337.364, 185.39, 397.097, 384.541, 205.778, 439.302, 452.744, 242.018, 495.114, 532.481, 363.61, 284.269, 560.75, 543.337, 591.098, 303.725, 638.851, 647.352, 340.628, 726.241, 729.457, 392.577, 808.884, 692.269, 800.703, 452.931, 908.963, 791.812, 908.166, 659.826, 385.099, 535.016, 1036.3, 898.807, 1014.713, 433.957, 603.965, 1191.537, 996.086, 1044.528, 448.477, 664.777, 1329.669, 1066.746, 1104.594, 501.924, 714.857, 1451.945, 1135.02, 1196.56, 521.522, 745.981, 1590.667, 1212.85, 1298.555, 1001.145, 549.608, 818.382, 1735.156, 1278.816, 1386.51, 578.61, 859.855, 1847.773, 1357.453, 1480.096, 634.956, 916.703, 1976.166, 1461.3, 1616.349, 688.049, 969.251, 2195.392, 1579.543, 1596.16, 739.714, 1021.247, 2424.654, 1699.774, 1724.332, 1459.11, 782.612, 1088.959, 2684.984, 1805.209, 1558.033, 842.797, 1166.43, 2901.589, 1897.456, 2019.308, 1651.139, 930.701, 1253.415, 3100.343, 1930.889, 2040.313, 1753.485, 995.728, 1332.213, 3286.558, 1962.196, 2188.676, 1817.042, 1058.68, 1420.271, 3432.101, 1984.944, 2349.145, 2100.918, 1094.034, 1413.445, 3586.745, 1999.778, 2480.217, 2169.451, 1171.591, 1436.372, 4158.928, 2091.997, 2496.201, 2236.595, 1507.352, 1529.586, 3894.282, 2200.468, 2566.003, 2321.931, 1572.097, 1571.107, 4061.536, 2278.254, 2697.878, 2431.303, 1683.905, 1667.922, 4261.996, 2450.593, 2895.533, 2687.53, 1897.202, 1847.786, 4536.561, 2624.293, 3009.368, 2875.294, 2067.167, 1945.556, 4888.518, 2758.065, 3239.77, 3152.016, 2287.476, 2065.133, 5316.522, 2914.206, 3329.374, 3056.265, 2469.159, 2194.437, 5726.538, 3122.396, 3391.521, 3170.947, 2724.869, 2303.68, 6069.53, 3291.912, 3429.955, 3264.574, 2731.445, 2471.186, 6430.757, 3486.621, 3567.061, 3444.855, 2952.329, 2561.219, 6808.054, 3709.615, 3750.787, 3588.227, 3021.671, 2689.916, 7166.513, 3849.544, 3955.136, 3729.353, 3207.853, 2799.198, 7385.026, 3945.873, 4158.266, 3880.842, 3334.506, 2971.377, 7645.002, 4155.529, 4423.07, 4045.065, 3441.71, 3169.19, 7879.253, 4228.962, 4566.678, 4161.698, 3495.652, 3740.756, 8079.467, 4336.249, 4745.546, 4299.434, 3614.131, 3970.765, 8346.064, 4428.753, 4951.677, 4544.964, 3667.636, 4308.252, 8519.62, 4536.81, 5151.709, 4626.679, 3758.935, 4328.364, 8925.879, 4635.285, 5295.975, 4667.156, 3805.82, 4515.556, 9355.118, 5044.275, 5669.064, 4928.128, 3960.141, 4295.858, 9717.649, 5150.47, 5970.163, 5005.756, 4059.125, 4412.852, 10046.472, 5308.356, 6281.84, 5099.306, 4189.708, 4554.276, 10451.386, 5189.721, 6407.928, 5167.839, 4385.463, 4610.794, 10855.517, 5828.324, 6938.983, 5468.418, 5018.7, 4665.641, 11859.179]

Coluna: Life_Expectancy
  Tipo de dados: float64
  Valores únicos: [70.6, 72.2, 71.9, 72.0, 70.9, 72.8, 70.8, 72.9, 71.2, 71.0, 73.2, 71.3, 73.4, 71.4, 71.5, 73.7, 73.0, 74.3, 72.7, 73.8, 71.8, 74.8, 72.5, 75.3, 73.3, 72.4, 75.7, 73.5, 75.1, 76.2, 73.9, 75.2, 76.1, 75.5, 76.5, 74.1, 75.6, 76.9, 74.5, 75.9, 77.0, 74.6, 77.4, 74.7, 76.3, 75.0, 75.4, 77.6, 78.1, 76.7, 78.5, 74.9, 76.8, 78.4, 77.1, 76.0, 78.8, 77.3, 78.9, 77.2, 79.1, 77.8, 77.5, 79.2, 79.4, 77.9, 78.0, 79.8, 76.6, 79.6, 78.2, 80.3, 78.3, 78.6, 80.5, 77.7, 80.6, 81.2, 79.3, 81.5, 79.5, 81.8, 79.9, 79.0, 82.1, 80.0, 80.4, 82.0, 81.0, 82.4, 80.1, 79.7, 82.6, 80.7, 80.2, 81.4, 82.7, 80.9, 83.0, 82.9, 82.3, 78.7, 81.6, 83.2, 81.7, 81.1, 83.4, 82.8, 83.7, 81.9, 83.9, 84.1, 81.3, 84.2, 84.3, 82.2, 84.4, 84.7]