In [1]:
import pandas as pd

In [2]:
import seaborn as sns
import pandas as pd
import numpy as np

In [3]:
penguins = sns.load_dataset("penguins")

In [4]:
penguins .head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [5]:
penguins.species.mode()

0    Adelie
Name: species, dtype: object

In [6]:
penguins.mode()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Biscoe,41.1,17.0,190.0,3800.0,Male

In [7]:
penguins.mean()

/tmp/ipykernel_18323/1029639241.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  penguins.mean()

bill_length_mm         43.921930
bill_depth_mm          17.151170
flipper_length_mm     200.915205
body_mass_g          4201.754386
dtype: float64

In [8]:
peguins.median()

NameError: name 'peguins' is not defined

In [9]:
penguins.median()

/tmp/ipykernel_18323/689932227.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  penguins.median()

bill_length_mm         44.45
bill_depth_mm          17.30
flipper_length_mm     197.00
body_mass_g          4050.00
dtype: float64

In [10]:
df.info()

NameError: name 'df' is not defined

In [11]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [15]:
dicionario = pd.DataFrame ([
    {   
        "variavel": "species",
        "descricao": "Nome da espécie",
        "tipo": "qualitativa",
        "subtipo": "nominal"
    },{
        "variavel": "island",
        "descricao": "Nome da ilha onde foi feita a medição",
        "tipo": "qualitativa",
        "subtipo": "nominal"
    },{
        "variavel": "bill_length_mm",
        "descricao": "Comprimento do Bico em milimetros",
        "tipo": "quantitativa",
        "subtipo": "Continua"
    },{
        "variavel": "bill_depth_mm",
        "descricao": "Comprimento do Bico em milimetros",
        "tipo": "quantitativa",
        "subtipo": "Continua"
    },{
        "variavel": "flipper_length_mm",
        "descricao": "Comprimento das nadadeiras",
        "tipo": "quantitativa",
        "subtipo": "Continua"
    },{
        "variavel": "body_mass_g",
        "descricao": "Massa corporal (peso)",
        "tipo": "quantitativa",
        "subtipo": "Continua"
    },{
        "variavel": "sex",
        "descricao": "Sexo dos indivíduos",
        "tipo": "qualitativa",
        "subtipo": "Continua"
    }
])
dicionario

,variavel,descricao,tipo,subtipo
0,species,Nome da espécie,qualitativa,nominal
1,island,Nome da ilha onde foi feita a medição,qualitativa,nominal
2,bill_length_mm,Comprimento do Bico em milimetros,quantitativa,Continua
3,bill_depth_mm,Comprimento do Bico em milimetros,quantitativa,Continua
4,flipper_length_mm,Comprimento das nadadeiras,quantitativa,Continua
5,body_mass_g,Massa corporal (peso),quantitativa,Continua
6,sex,Sexo dos indivíduos,qualitativa,Continua

In [16]:
qualitativas = dicionario[dicionario["tipo"] == "qualitativa"].variavel.tolist()
quantitativas = dicionario[dicionario["tipo"] == "quantitativa"].variavel.tolist()

In [17]:
penguins[qualitativas].mode()

  species  island   sex
0  Adelie  Biscoe  Male

In [18]:
penguins[quantitativas].mode()

   bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0            41.1           17.0              190.0       3800.0

In [19]:
penguins[quantitativas].mean()

bill_length_mm         43.921930
bill_depth_mm          17.151170
flipper_length_mm     200.915205
body_mass_g          4201.754386
dtype: float64

In [20]:
penguins[quantitativas].median()

bill_length_mm         44.45
bill_depth_mm          17.30
flipper_length_mm     197.00
body_mass_g          4050.00
dtype: float64

In [23]:
penguins.describe(include="all")

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
count,344,344,342.000000,342.000000,342.000000,342.000000,333
unique,3,3,NaN,NaN,NaN,NaN,2
top,Adelie,Biscoe,NaN,NaN,NaN,NaN,Male
freq,152,168,NaN,NaN,NaN,NaN,168
mean,NaN,NaN,43.921930,17.151170,200.915205,4201.754386,NaN
std,NaN,NaN,5.459584,1.974793,14.061714,801.954536,NaN
min,NaN,NaN,32.100000,13.100000,172.000000,2700.000000,NaN
25%,NaN,NaN,39.225000,15.600000,190.000000,3550.000000,NaN
50%,NaN,NaN,44.450000,17.300000,197.000000,4050.000000,NaN
75%,NaN,NaN,48.500000,18.700000,213.000000,4750.000000,NaN
max,NaN,NaN,59.600000,21.500000,231.000000,6300.000000,NaN

In [24]:
penguins.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [25]:
penguins.groupby("species")[quantitativas].agg(["mean","median","std"])

          bill_length_mm                  bill_depth_mm                   \
                    mean median       std          mean median       std
species
Adelie         38.791391  38.80  2.663405     18.346358  18.40  1.216650
Chinstrap      48.833824  49.55  3.339256     18.420588  18.45  1.135395
Gentoo         47.504878  47.30  3.081857     14.982114  15.00  0.981220

          flipper_length_mm                   body_mass_g
                       mean median       std         mean  median         std
species
Adelie           189.953642  190.0  6.539457  3700.662252  3700.0  458.566126
Chinstrap        195.823529  196.0  7.131894  3733.088235  3700.0  384.335081
Gentoo           217.186992  216.0  6.484976  5076.016260  5000.0  504.116237

In [26]:
penguins.groupby("species")["bill_length_mm"].agg(["mean","median","std"])

                mean  median       std
species
Adelie     38.791391   38.80  2.663405
Chinstrap  48.833824   49.55  3.339256
Gentoo     47.504878   47.30  3.081857

In [28]:
penguins.groupby("species")[qualitativas].agg(pd.Series.mode)

             species  island             sex
species
Adelie        Adelie   Dream  [Female, Male]
Chinstrap  Chinstrap   Dream  [Female, Male]
Gentoo        Gentoo  Biscoe            Male